<div>
    <h2>
        <span jhiTranslate="shortcutmasterApp.trainingType.home.title">Training Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-training-type" [routerLink]="['/', { outlets: { popup: ['training-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shortcutmasterApp.trainingType.home.createLabel">
            Create new Training Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trainingTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="shortcutmasterApp.trainingType.label">Label</span></th>
            <th><span jhiTranslate="shortcutmasterApp.trainingType.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trainingType of trainingTypes ;trackBy: trackId">
                <td><a [routerLink]="['../training-type', trainingType.id ]">{{trainingType.id}}</a></td>
                <td>{{trainingType.label}}</td>
                <td>{{trainingType.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../training-type', trainingType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'training-type/'+ trainingType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'training-type/'+ trainingType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
