<div>
    <h2 id="page-heading">
        <span jhiTranslate="shortcutmasterApp.trainingFollowed.home.title">Training Followeds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-training-followed" [routerLink]="['/training-followed/new']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shortcutmasterApp.trainingFollowed.home.createLabel">
            Create new Training Followed
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="trainingFolloweds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="shortcutmasterApp.trainingFollowed.lastVisitDate">Last Visit Date</span></th>
            <th><span jhiTranslate="shortcutmasterApp.trainingFollowed.training">Training</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trainingFollowed of trainingFolloweds ;trackBy: trackId">
                <td><a [routerLink]="['/training-followed', trainingFollowed.id, 'view' ]">{{trainingFollowed.id}}</a></td>
                <td>{{trainingFollowed.lastVisitDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="trainingFollowed.training">
                        <a [routerLink]="['../training', trainingFollowed.training?.id, 'view' ]" >{{trainingFollowed.training?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/training-followed', trainingFollowed.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/training-followed', trainingFollowed.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'training-followed/'+ trainingFollowed.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
