<div>
    <h2 id="page-heading">
        <span jhiTranslate="shortcutmasterApp.command.home.title">Commands</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-command" [routerLink]="['/command/new']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shortcutmasterApp.command.home.createLabel">
            Create new Command
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="commands">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="shortcutmasterApp.command.command">Command</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let command of commands ;trackBy: trackId">
                <td><a [routerLink]="['/command', command.id, 'view' ]">{{command.id}}</a></td>
                <td>{{command.command}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/command', command.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/command', command.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'command/'+ command.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
