<div>
    <h2 id="page-heading">
        <span jhiTranslate="shortcutmasterApp.training.home.title">Trainings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-training" [routerLink]="['/training/new']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shortcutmasterApp.training.home.createLabel">
            Create new Training
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="trainings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="shortcutmasterApp.training.label">Label</span></th>
            <th><span jhiTranslate="shortcutmasterApp.training.description">Description</span></th>
            <th><span jhiTranslate="shortcutmasterApp.training.operatingSystem">Operating System</span></th>
            <th><span jhiTranslate="shortcutmasterApp.training.imagePath">Image Path</span></th>
            <th><span jhiTranslate="shortcutmasterApp.training.trainingType">Training Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let training of trainings ;trackBy: trackId">
                <td><a [routerLink]="['/training', training.id, 'view' ]">{{training.id}}</a></td>
                <td>{{training.label}}</td>
                <td>{{training.description}}</td>
                <td jhiTranslate="{{'shortcutmasterApp.OperatingSystem.' + training.operatingSystem}}">{{training.operatingSystem}}</td>
                <td>{{training.imagePath}}</td>
                <td>
                    <div *ngIf="training.trainingType">
                        <a [routerLink]="['../training-type', training.trainingType?.id, 'view' ]" >{{training.trainingType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/training', training.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/training', training.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'training/'+ training.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
