
<div *ngIf="exercise">
    <h2><span jhiTranslate="shortcutmasterApp.exercise.detail.title">Exercise</span> {{exercise.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shortcutmasterApp.exercise.label">Label</span></dt>
        <dd>
            <span>{{exercise.label}}</span>
        </dd>
        <dt><span jhiTranslate="shortcutmasterApp.exercise.description">Description</span></dt>
        <dd>
            <span>{{exercise.description}}</span>
        </dd>
        <dt><span jhiTranslate="shortcutmasterApp.exercise.order">Order</span></dt>
        <dd>
            <span>{{exercise.order}}</span>
        </dd>
        <dt><span jhiTranslate="shortcutmasterApp.exercise.opponent">Opponent</span></dt>
        <dd>
            <div *ngIf="exercise.opponent">
                <a [routerLink]="['/opponent', exercise.opponent?.id]">{{exercise.opponent?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="shortcutmasterApp.exercise.training">Training</span></dt>
        <dd>
            <div *ngIf="exercise.training">
                <a [routerLink]="['/training', exercise.training?.id]">{{exercise.training?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'exercise/'+ exercise.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
