<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-exercise-heading" jhiTranslate="shortcutmasterApp.exercise.home.createOrEditLabel">Create or edit a Exercise</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!exercise.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="exercise.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shortcutmasterApp.exercise.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                        [(ngModel)]="exercise.label" required/>
                    <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shortcutmasterApp.exercise.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="exercise.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shortcutmasterApp.exercise.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                        [(ngModel)]="exercise.order" required/>
                    <div [hidden]="!(editForm.controls.order?.dirty && editForm.controls.order?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.order?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.order?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shortcutmasterApp.exercise.opponent" for="field_opponent">Opponent</label>
                    <select class="form-control" id="field_opponent" name="opponent" [(ngModel)]="exercise.opponent" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="opponentOption.id === exercise.opponent?.id ? exercise.opponent : opponentOption" *ngFor="let opponentOption of opponents; trackBy: trackOpponentById">{{opponentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shortcutmasterApp.exercise.training" for="field_training">Training</label>
                    <select class="form-control" id="field_training" name="training" [(ngModel)]="exercise.training" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trainingOption.id === exercise.training?.id ? exercise.training : trainingOption" *ngFor="let trainingOption of trainings; trackBy: trackTrainingById">{{trainingOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
